<div class="container">
  
  

<mat-toolbar class="example-spacer">
    <span >BookTheEvent</span>
    <br>
    <form class="example-form">
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label >search</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput placeholder="Type something..">
        </mat-form-field>
      </form>
      <nav class="navbar-brand navbar-right">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="user">User</a></li>
          <li routerLinkActive="active"><a routerLink="login">Login</a></li>
        </ul>
    </nav>
   
</mat-toolbar>
</div>
 