.mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
}

.header{
    text-align: center;
}

.full-width{
    width: 40%;
}

.forget-password{
    padding-left: 0px;
}

.email-input{
    padding-top: 10px;
    text-align: center;
   

}

.alink{
    float: left;
    padding-left: 10px;
    text-decoration: none;
    text-align: center;
   
}

.blur-card{
    background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.3px);
-webkit-backdrop-filter: blur(14.3px);
border: 1px solid rgba(255, 255, 255, 0.85);
}