
<mat-card>
    <mat-card-content>
       <div class="header">
        <h2>LOGIN</h2>
       </div>
       <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="email-input">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email/Username</mat-label>
                    <input type="text" formControlName="email" matInput required>
                    <!-- <mat-error *ngIf="loginForm.get('email').errors?.required">
                        Please enter email Id 
                    </mat-error> -->
            </mat-form-field>
        </div>
        <div class="header">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password" required>
                   
            </mat-form-field>
        </div>
            <span class="alink" >Forgot Password</span><br>
            <button mat-flat-button color="primary">Login</button>
        
       
       </form>
    </mat-card-content>
   
</mat-card>