
<!-- <div>
    UserName : <input type="text" [(ngModel)]="userModel.UserName" name="uname" id="userid"><br>
    NoOfTickets : <input type="number" [(ngModel)]="userModel.NoOfTickets" name="ticket" id="ticket"><br>
    Amount : <input type="text" [(ngModel)]="userModel.Amount" name="amt" id="amt"><br>
    <input type="button" value="add" (click)="Add()">
    <br>
    {{userModel.UserName}} <br>
    {{userModel.NoOfTickets}} <br>
    {{userModel.Amount}} <br> -->

    <!-- <mat-card> -->
        <!-- <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list> -->
        <!-- <div class="row ">
            <div class="col">User Name</div>
            <div class="col">Tickets</div>
            <div class="col">Amount</div>
        </div>
    </mat-card>

    
</div> -->