<!-- <div class="row">
    <div class="col-md-4">
        <img src="assets/img/ikigai1.PNG" class="img.thumbnail" width="350" alt="ikigai">
    </div>
    <h3 style="color: black;"><strong>IKIGAI</strong> 
       - The japanese secret to a long and happy life</h3><br>

       <p style="font-family:Georgia, 'Times New Roman', Times, serif; line-height:2;">
        <strong>Originally published:</strong> April 2016</p> <br>
       <p><strong>Authors: </strong> Hector Garcia, Francesc Miralles</p><br>
       <p> <strong>Genre:</strong> Self-help book </p><br>
        <p><strong>Original language:</strong> English</p>

        <h3><strong>Summary:</strong> </h3>
       <p style="font-family:Arial, Helvetica, sans-serif;font-size: medium; line-height:1;">The Ikigai book introduces you to various topics related to the art of living,<br>
        such as the blue zones, longevity, logotherapy, flow, yoga, tai chi, and resilience. <br>
        It defines what Ikigai is and its <br>
        The book says that living a long and full life is under your control to an extent.
     </p>
<br>
<p><Strong>PRICE: RS 150 (30% off) </Strong></p>
     <div class="text-left">
        <button mat-raised-button color="primary" routerLink="/user/1">BUY NOW</button>
    </div>
</div> -->
<mat-icon routerLink="../">keyboard_arrow_left</mat-icon>
<div class="container-fluid">
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-4 p-4">
        <!-- <img src="assets/img/ikigai1.PNG" class="img.thumbnail" width="350" alt="ikigai"> -->
        <img class="card-img-top" src="assets/img/{{bookDetails.bookDetails.bookName}}.PNG" alt="Card image cap" style="width: 19.95rem; height: 30rem;">
    </div>
    <div class="col-6 p-4">
        

        <blockquote class="blockquote" >
            <h3 style="color: black;"><strong>{{bookDetails.bookDetails.bookName}}</strong> 
                - {{bookDetails.bookDetails.bookTitle}}</h3>

                <h3><strong> Originally published:</strong>{{bookDetails.bookDetails.publishDate}}</h3> 
                   <h3><strong>Authors: </strong>  {{bookDetails.bookDetails.authors}}</h3>
                   <h3><strong>AuthorsGenre: </strong> {{bookDetails.bookDetails.genre}}</h3>
                    <h3><strong>AuthorsOriginal language: </strong> English</h3>  
                    
                    <h3><strong>Summary:</strong></h3>
                    <p style="font-family:Arial, Helvetica, sans-serif;font-size: medium; line-height:1;">
                        {{bookDetails.bookDetails.summary}}
                  </p>
             <br>
             <p><Strong>PRICE:  {{bookDetails.bookDetails.price}}  (30% off)</Strong></p>
                  <div class="text-left">
                     <button mat-raised-button color="primary" routerLink="/user/1">BUY NOW</button>
                 </div>
          </blockquote>
        
    </div>
</div>
</div>

